html,
body {
	height: 100%;
}

    body {
	margin: 0;
	background: green;
	font-family: sans-serif;
	font-weight: 100;

}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}


.logo-marca-carrito{
  display: flex;
  border-bottom: 1px dotted #ccaaa9;

}

.main{
  margin-top: 21px;
  display: flex;
}
.main-left{
  width: 22%;
  margin-top: -10px;
}

div#caraca {
    max-width: 923px;
}

.marca-logo{
  display: flex;
  width: 50%;
  margin-left: 20px;
}
.content-carrito{
  margin-right: 28px;
  width: 50%;
  text-align: right;
}
.carrito{
  width: 30px;
  margin-top: 5px;
}
.marca{
  display: inline-block;
}
.logo{
  width: 50px;
  height: 45px;
  margin-top: 2px;
  margin-right: 14px;
}

.enlace {
    text-decoration: none;
    color: black;
}

.login{
  text-align: right;
  background-color: #EDF1FF;
  padding: 12px 17px 11px;
}
.menu{
  display: flex;
  flex-flow: column;
  width: 230px;
  padding: 17px 17px 8px 56px;
}
.menu-item{
  padding: 13px 0px;
  text-decoration: none;
  color: white;
}



.opcion-sesion{
  text-decoration: none;
  color: #D19C97;
}
/*Estilos vista productos*/

img.imagenProducto {
	width: 200px;
}


table {
	width: 1000px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	margin: auto;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: black;
}

th {
	text-align: left;
}

thead th {
		background-color: #55608f;
	}


tbody tr:hover {
			background-color: rgba(255,255,255,0.3);
		}
		
	td:hover::before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				z-index: -1;
		}

#centrar {
    	text-align:center;
}

